.payment-card {
    margin: 20px;
  }
  
  .payment-button {
    --background: #4CAF50; /* Color de fondo del botón */
    --color: #ffffff; /* Color del texto del botón */
    margin-top: 20px;
  }