.success-card {
    text-align: center;
    margin: 20px;
  }
  
  ion-icon {
    font-size: 4rem;
  }
  
  ion-button {
    --background: #4CAF50; /* Color de fondo del botón */
    --color: #ffffff; /* Color del texto del botón */
    margin-top: 20px;
  }