<ion-header>
  <ion-toolbar color="success">
    <ion-title>Pago Exitoso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="success-card">
    <ion-card-content>
      <ion-icon name="checkmark-circle" color="success" size="large"></ion-icon>
      <h2 class="ion-text-center">¡Pago Exitoso!</h2>
      <p class="ion-text-center">Gracias por tu pago. Tu transacción se ha completado con éxito.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="irAHome()">Ir a Inicio</ion-button>
</ion-content>